<h2>Contact Us</h2>
<p><span class="phone">1-318-218-4831</span></p>
<p>or use the form below:</p>

<form action="https://formcarry.com/s/ryqWaV1Wf" method="post">
  <p>
    Your Name (required)<br />
    <input type="text" name="name" required />
  </p>
  <p>
    Your Email (required)<br />
    <input type="email" name="email" required />
  </p>
  <p>
    Subject<br />
    <input type="text" name="subject" size="40" />
  </p>
  <p>
    Your Message<br />
    <textarea name="message" cols="30" rows="5"></textarea>
  </p>
  <p><input type="submit" value="Send" /></p>
</form>
