<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" media="all" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    {% seo %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div class="Header">
      <div class="Wrapper">
        <a href="/" title="Home" class="Logo">
          <img class="Logo-mark" src="/img/bayousurgicalsolutions.png" />
          <span class="Logo-type">
            <span class="Logo-big">Bayou</span>
            <span class="Logo-small">Surgical Solutions</span>
          </span>
        </a>
        <ul class="Menu InlineList">
          <li><a href="/how-we-can-help">How We Can Help</a></li>
          <li><a href="/products">Products We Buy &amp; Sell</a></li>
          <li><a href="/about/">About Bayou</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="Main-wrapper">
      <div role="main" class="Main">
        <div class="Main-contentWrapper">
          {{ content }}
        </div>
        {% if page.url != '/how-we-can-help/' %}
          {% include contact_form.html %}
        {% endif %}
      </div>
    </div>

    <div class="Footer">
      <div class="Wrapper">
        <div class="fr">
          <p>
            <a href="/hospitals-are-wasting-billions-annually">Hospitals are Wasting Billions Annually!</a>
          </p>
        </div>
        <div class="fl">
          <ul class="InlineList InlineList--bulleted">
            <li><a href="/how-we-can-help">How We Can Help</a></li>
            <li><a href="/products">Products We Buy &amp; Sell</a></li>
            <li><a href="/about/">About Bayou</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
          <p>© Bayou Surgical Solutions</p>
        </div>
      </div>
    </div>
  </body>
</html>
