<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" media="all" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!--[if lt IE 8]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js" type="text/javascript"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    {% seo %}
  </head>
  <body>
    <div class="Header">
      <div class="Wrapper">
        <a href="/" title="Home" class="Logo">
          <img class="Logo-mark" src="/img/bayousurgicalsolutions.png" />
          <span class="Logo-type">
            <span class="Logo-big">Bayou</span>
            <span class="Logo-small">Surgical Solutions</span>
          </span>
        </a>
        <ul class="Menu">
          <li><a href="/">How We Can Help</a></li>
          <li><a href="/products">Products We Buy &amp; Sell</a></li>
          <li><a href="/about/">About Bayou</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="Main-wrapper">
      <div role="main" class="Main">
        <div class="Main-contentWrapper">
          {{ content }}
        </div>
        {% if page.url != '/' %}
          {% include contact_form.html %}
        {% endif %}
      </div>
    </div>

    <div class="Footer">
      <div class="Wrapper">
        <p>© Bayou Surgical Solutions</p>
      </div>
    </div>
  </body>
</html>
